
bin/Debug/Texter.log
bin/Debug/stb_image.obj
bin/Debug/ShaderCore.obj
bin/Debug/Main.obj
.vs/Texter/v15/ipch/AutoPCH/eb6ba624d0db02e1/MAIN.ipch
.vs/Texter/v15/ipch/AutoPCH/a6742b0b1fe5bc05/STB_IMAGE.ipch
.vs/Texter/v15/ipch/AutoPCH/876e23574b828f35/TEXTUREBASE.ipch
.vs/Texter/v15/ipch/AutoPCH/827876e403f6521e/TEXTUREBASE.ipch
.vs/Texter/v15/ipch/AutoPCH/4b2f950ce6792015/SHADERCORE.ipch
.vs/Texter/v15/ipch/AutoPCH/370d58bd05ca066d/TEXTUREBASE.ipch
.vs/Texter/v15/Browse.VC.opendb
.vs/Texter/v15/Browse.VC.db
.vs/Texter/v15/.suo
.vs/Texter/v15/.suo
.vs/Texter/v15/Browse.VC.db
.vs/Texter/v15/ipch/AutoPCH/eb6ba624d0db02e1/MAIN.ipch
bin/Debug/Main.obj
bin/Debug/stb_image.obj
bin/Debug/Texter.log
bin/Debug/Texter.tlog/CL.command.1.tlog
bin/Debug/Texter.tlog/CL.read.1.tlog
bin/Debug/Texter.tlog/CL.write.1.tlog
bin/Debug/Texter.tlog/link.command.1.tlog
bin/Debug/Texter.tlog/link.read.1.tlog
bin/Debug/Texter.tlog/link.write.1.tlog
bin/Debug/vc141.idb
bin/Debug/vc141.pdb
bin/Debug/VertexHelpers.obj
Debug/Texter.ilk
Debug/Texter.pdb
Texter/Texter.vcxproj.filters
.vs/Texter/v15/.suo
.vs/Texter/v15/Browse.VC.db
.vs/Texter/v15/ipch/AutoPCH/eb6ba624d0db02e1/MAIN.ipch
bin/Debug/Main.obj
bin/Debug/stb_image.obj
bin/Debug/Texter.log
bin/Debug/Texter.tlog/CL.command.1.tlog
bin/Debug/Texter.tlog/CL.read.1.tlog
bin/Debug/Texter.tlog/CL.write.1.tlog
bin/Debug/Texter.tlog/link.command.1.tlog
bin/Debug/Texter.tlog/link.read.1.tlog
bin/Debug/Texter.tlog/link.write.1.tlog
bin/Debug/vc141.idb
bin/Debug/vc141.pdb
bin/Debug/VertexHelpers.obj
Debug/Texter.ilk
Debug/Texter.pdb
Texter/Texter.vcxproj.filters
